<div class="chat-container">
  <div class="sidebar">
   
    <div class="search-container">
      <input type="text" class="search-input" placeholder="Поиск">
    </div>

    <div class="conversations-list">
      {{#each conversations}}
        <div class="conversation-item {{#if active}}-active{{/if}}">
          <div class="avatar">
            {{#if avatar}}
              <img src="{{avatar}}" alt="Аватар" class="avatar-image">
            {{else}}
              <img src="/public/user.png" alt="Аватар" class="avatar-image">
            {{/if}}
          </div>
          <div class="conversation-info">
            <div class="conversation-header">
              <span class="name">{{name}}</span>
              <span class="time">{{time}}</span>
            </div>
            <div class="last-message">{{lastMessage}}</div>
          </div>
          {{#if unreadCount}}
            <div class="unread-badge">{{unreadCount}}</div>
          {{/if}}
        </div>
      {{/each}}
    </div>

    <div class="settings-container">
      <button class="profile-button" id="profileSidebarBtn"><img src="/profile.svg" alt="Профиль"></button>
      <button class="settings-button"><img src="/settings.svg" alt="Настройки"></button>
      <button class="logout-button" id="chatLogoutBtn"><img src="/logout.svg" alt="Выход"></button>
    </div>
  </div>
  <div class="chat-main">
    <div class="chat-header">
      <div class="breadcrumb">
        <span class="current-chat">Мухаммад</span>
      </div>
      <button class="menu-button"></button>
    </div>
    <div class="messages-container" id="messagesContainer">
      <div class="date-separator"><p class="date-separator-text">19 июня</p></div>
      {{#each messages}}
      <div class="message {{#if type}}-{{type}}{{/if}}">
        <div class="message-content">
          {{#if image}}
            <div class="message-image">
                <img src="{{image}}" alt="Изображение">
                <div class="image-duration">{{imageDuration}}</div>
            </div>
          {{/if}}
          <div class="message-text"><p>{{text}}</p></div>
          <span class="message-time">
            <img src="/viewed.svg">
            {{time}}
          </span>
        </div>
      </div>
      {{/each}}
    </div>
    <div class="message-input-container">
      <button class="attach-button"><img src="/skripka.svg"></button>
      <input type="text" class="message-input" name="message" placeholder="Сообщение" id="messageInput">
      <button class="send-button" id="sendButton"><img src="/arrow-right.svg"></button>
    </div>
  </div>
</div>