<div class="profile-sidebar" id="profileSidebar">
    {{!-- <div class="profile-overlay"></div> --}}
    
    <div class="profile-sidebar-container">
        <div class="profile-back">
            <button class="back-btn" id="closeProfile"><img src="/arrow-right.svg"/></button>
        </div>
        <div class="profile-panel">
        <div class="profile-avatar">
            <div class="avatar-circle">
                <img src="/no-photo.png"/>
            </div>
            <h3 class="profile-name">{{user.name}}</h3>
        </div>
        <div class="profile-info" id="profileInfo">
            <div class="info-item">
                <label>Почта</label>
                <input type="email" value="{{user.email}}" disabled>
            </div>
            <div class="info-item">
                <label>Логин</label>
                <input type="text" value="{{user.login}}" disabled>
            </div>
            <div class="info-item">
                <label>Имя</label>
                <input type="text" value="{{user.firstName}}" disabled>
            </div>
            <div class="info-item">
                <label>Фамилия</label>
                <input type="text" value="{{user.lastName}}" disabled>
            </div>
        
            <div class="info-item">
                <label>Имя в чате</label>
                <input type="text" value="{{user.chatName}}" disabled>
            </div>
            <div class="info-item">
                <label>Телефон</label>
                <input type="text" value="{{user.phone}}" disabled>
            </div>
        </div>
        <div class="profile-actions">
            <button class="action-btn blue" id="changeProfileData">Изменить данные</button>
            <button class="action-btn blue" id="changeProfilePassword">Изменить пароль</button>
            <button class="action-btn red" id="logOut">Выйти</button>
            <button class="action-btn-save" id="saveProfile">Сохранить</button>
        </div>
    </div>
    </div>
</div>