<div class="profile" id="profileSidebar">
  <div class="profile__overlay"></div>

  <div class="profile__container">
    <div class="profile__back">
      <button class="profile__back-btn" id="closeProfile">
        <img src="/arrow-right.svg" alt="Back" />
      </button>
    </div>

    <div class="profile__panel">
      <div class="profile__avatar">
        <div class="profile__avatar-circle" id="changeAvatar">
          <img src="/no-photo.png" alt="Avatar" />
          <div class="profile__avatar-circle-overlay" style="display: none;">
            Поменять аватар
          </div>
        </div>
        <h3 class="profile__name">{{user.name}}</h3>
      </div>

      <div class="profile__info" id="profileInfo">
        <div class="profile__info-item">
          <label>Почта</label>
          <input type="email" value="{{user.email}}" disabled />
        </div>
        <div class="profile__info-item">
          <label>Логин</label>
          <input type="text" value="{{user.login}}" disabled />
        </div>
        <div class="profile__info-item">
          <label>Имя</label>
          <input type="text" value="{{user.firstName}}" disabled />
        </div>
        <div class="profile__info-item">
          <label>Фамилия</label>
          <input type="text" value="{{user.lastName}}" disabled />
        </div>
        <div class="profile__info-item">
          <label>Имя в чате</label>
          <input type="text" value="{{user.chatName}}" disabled />
        </div>
        <div class="profile__info-item">
          <label>Телефон</label>
          <input type="text" value="{{user.phone}}" disabled />
        </div>
      </div>

      <div class="profile__info profile__info--password" id="profileChangePassword" style="display: none;">
        <div class="profile__info-item">
          <label>Старый пароль</label>
          <input type="password" value="{{user.oldPassword}}" />
        </div>
        <div class="profile__info-item">
          <label>Новый пароль</label>
          <input type="password" value="{{user.newPassword}}" />
        </div>
        <div class="profile__info-item">
          <label>Повторите новый пароль</label>
          <input type="password" value="{{user.confirmNewPassword}}" />
        </div>
      </div>

      <div class="profile__actions">
        <button class="profile__action profile__action--blue" id="changeProfileData">Изменить данные</button>
        <button class="profile__action profile__action--blue" id="changeProfilePassword">Изменить пароль</button>
        <button class="profile__action profile__action--red" id="logOut">Выйти</button>
        <button class="profile__save-btn" id="saveProfile">Сохранить</button>
      </div>
    </div>
  </div>
</div>
